body {
    text-align: center;
}
#container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 70% 30%;
    padding-bottom: 40em;
}
header {
    grid-column-start: 1;
    grid-column-end: end;
    background: green;
    /* padding: 0; */
}
header h1 {
    margin: 0 auto;
    padding: 0;
}
main {
    background: gray;
}
#game-controls {
    padding: 0.5rem;
    padding: 0.5rem;
    background-color: blue;
}
.fields {
    margin: 1rem;
}
input, label {
    display: block;
    text-align: center;
    margin: 0 auto;
}
input {
    display: inline-block;
    width: 90%;
}

.game-container {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}
.game-board {
    display: grid;
    width: fit-content;
    height: fit-content;
    gap: 0.05rem;
    margin: 0;
    background: black;
}
.row {
    display: flex;
    gap: 0.05rem;
    margin: 0;
}

.Tic-Tac-Toe-Boxs {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0;
    border: none; 
    outline: none;
    background: gray;
}

.display-none {
    display: none;
}