body {
    text-align: center;
}
input, label {
    display: block;
    text-align: center;
    margin: 0 auto;
}
table {
    margin: 0 auto;
}

.Tic-Tac-Toe-Boxs {
    height: 25px;
    width: 25px;    
}
